# This file was created by the command:
# steps/nnet3/xconfig_to_configs.py --xconfig-file exp/chain/tdnn/configs/network.xconfig --config-dir exp/chain/tdnn/configs/
# It contains the entire neural network.

input-node name=input dim=40
component name=lda type=FixedAffineComponent matrix=exp/chain/tdnn/configs/lda.mat
component-node name=lda component=lda input=Append(Offset(input, -2), Offset(input, -1), input, Offset(input, 1), Offset(input, 2))
component name=tdnn1.affine type=NaturalGradientAffineComponent input-dim=200 output-dim=1024 max-change=0.75 
component-node name=tdnn1.affine component=tdnn1.affine input=lda
component name=tdnn1.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn1.relu component=tdnn1.relu input=tdnn1.affine
component name=tdnn1.renorm type=NormalizeComponent dim=1024 target-rms=1.0
component-node name=tdnn1.renorm component=tdnn1.renorm input=tdnn1.relu
component name=tdnn2.affine type=NaturalGradientAffineComponent input-dim=2048 output-dim=1024 max-change=0.75 
component-node name=tdnn2.affine component=tdnn2.affine input=Append(Offset(tdnn1.renorm, -1), Offset(tdnn1.renorm, 2))
component name=tdnn2.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn2.relu component=tdnn2.relu input=tdnn2.affine
component name=tdnn2.renorm type=NormalizeComponent dim=1024 target-rms=1.0
component-node name=tdnn2.renorm component=tdnn2.renorm input=tdnn2.relu
component name=tdnn3.affine type=NaturalGradientAffineComponent input-dim=2048 output-dim=1024 max-change=0.75 
component-node name=tdnn3.affine component=tdnn3.affine input=Append(Offset(tdnn2.renorm, -2), Offset(tdnn2.renorm, 1))
component name=tdnn3.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn3.relu component=tdnn3.relu input=tdnn3.affine
component name=tdnn3.renorm type=NormalizeComponent dim=1024 target-rms=1.0
component-node name=tdnn3.renorm component=tdnn3.renorm input=tdnn3.relu
component name=tdnn4.affine type=NaturalGradientAffineComponent input-dim=2048 output-dim=1024 max-change=0.75 
component-node name=tdnn4.affine component=tdnn4.affine input=Append(Offset(tdnn3.renorm, -3), Offset(tdnn3.renorm, 3))
component name=tdnn4.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn4.relu component=tdnn4.relu input=tdnn4.affine
component name=tdnn4.renorm type=NormalizeComponent dim=1024 target-rms=1.0
component-node name=tdnn4.renorm component=tdnn4.renorm input=tdnn4.relu
component name=tdnn5.affine type=NaturalGradientAffineComponent input-dim=2048 output-dim=1024 max-change=0.75 
component-node name=tdnn5.affine component=tdnn5.affine input=Append(Offset(tdnn4.renorm, -5), Offset(tdnn4.renorm, 1))
component name=tdnn5.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn5.relu component=tdnn5.relu input=tdnn5.affine
component name=tdnn5.renorm type=NormalizeComponent dim=1024 target-rms=1.0
component-node name=tdnn5.renorm component=tdnn5.renorm input=tdnn5.relu
component name=prefinal-chain.affine type=NaturalGradientAffineComponent input-dim=1024 output-dim=1024 max-change=0.75 
component-node name=prefinal-chain.affine component=prefinal-chain.affine input=tdnn5.renorm
component name=prefinal-chain.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=prefinal-chain.relu component=prefinal-chain.relu input=prefinal-chain.affine
component name=prefinal-chain.renorm type=NormalizeComponent dim=1024 target-rms=0.5
component-node name=prefinal-chain.renorm component=prefinal-chain.renorm input=prefinal-chain.relu
component name=output.affine type=NaturalGradientAffineComponent input-dim=1024 output-dim=6508 param-stddev=0.0 bias-stddev=0.0 max-change=1.5  
component-node name=output.affine component=output.affine input=prefinal-chain.renorm
output-node name=output input=output.affine
component name=prefinal-xent.affine type=NaturalGradientAffineComponent input-dim=1024 output-dim=1024 max-change=0.75 
component-node name=prefinal-xent.affine component=prefinal-xent.affine input=tdnn5.renorm
component name=prefinal-xent.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=prefinal-xent.relu component=prefinal-xent.relu input=prefinal-xent.affine
component name=prefinal-xent.renorm type=NormalizeComponent dim=1024 target-rms=0.5
component-node name=prefinal-xent.renorm component=prefinal-xent.renorm input=prefinal-xent.relu
component name=output-xent.affine type=NaturalGradientAffineComponent input-dim=1024 output-dim=6508 param-stddev=0.0 bias-stddev=0.0 max-change=1.5  learning-rate-factor=5.0 
component-node name=output-xent.affine component=output-xent.affine input=prefinal-xent.renorm
component name=output-xent.log-softmax type=LogSoftmaxComponent dim=6508
component-node name=output-xent.log-softmax component=output-xent.log-softmax input=output-xent.affine
output-node name=output-xent input=output-xent.log-softmax
